// Tachyon Regular
@mixin tachyon-regular {
  font-family: tachyon, sans-serif;
  font-weight: 400;
  font-style: normal;
}

// Tachyon Hairline
@mixin tachyon-hairline {
  font-family: tachyon, sans-serif;
  font-weight: 100;
  font-style: normal;
}

// Tachyon Thin
@mixin tachyon-thin {
  font-family: tachyon, sans-serif;
  font-weight: 200;
  font-style: normal;
}

// Tachyon Light
@mixin tachyon-light {
  font-family: tachyon, sans-serif;
  font-weight: 300;
  font-style: normal;
}
