.weather {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  margin-left: 0.8rem;
}

.weather-top {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 15px;

  &__humidity {
    margin: 0;
    @include tachyon-thin;
    font-size: 1.5rem;
    color: white;
    line-height: 1.8rem;
  }

  &__temp {
    margin: 0;
    padding-left: 20px;
    @include tachyon-thin;
    font-size: 3rem;
    line-height: 3rem;
  }

  @include bp(xxs) {
    margin-bottom: 1.5rem;

    .weather-top__humidity {
      font-size: 1.8rem;
      line-height: 1.2;
    }

    .weather-top__temp {
      font-size: 4rem;
      line-height: 1;
    }
  }

  @include bp(xs) {
    margin-bottom: 25px;

    .weather-top__humidity {
      font-size: 2rem;
      line-height: 1.5;
    }

    .weather-top__temp {
      font-size: 5rem;
      line-height: 82px;
    }
  }
}

.lineup {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  @include tachyon-light;
  font-size: 1.6rem;

  h4 {
    margin: 0;
    // padding: 0;
  }

  p {
    margin: 0;
    // padding: 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;

    &:nth-child(n+5) {
      display: none;
    }
  }

  &__hour {
    padding-right: 5px;;
    font-size: 1.2rem;
  }

  &__temp {
    @include tachyon-light;
    font-size: 1.7rem;
  }

  &__precip {
    font-size: 1rem;
    color: deepskyblue;
  }

  @include bp(xxs) {
    grid-template-columns: repeat(7, 1fr);
    gap: 25px;
    width: 100%;

    .lineup__item {
      display: flex;

      &:nth-child(n+6) {
        // display: none;
      }
    }

    // .lineup__hour {
    //   font-size: 1.1rem;
    // }

    // .lineup__temp {
    //   font-size: 1.5rem;
    // }

    // .lineup__precip {
    //   font-size: 0.9rem;
    // }
  }

  @include bp(xs) {
    grid-template-columns: repeat(7, 1fr);
    gap: 27px;

    .lineup__item {
      display: flex;

      &:nth-child(n+7),
      &:nth-child(n+6),
      &:nth-child(7) {
        display: flex;
      }
    }
  }
}
