@import "breakpoints";
@import "fonts";
@import "time";
@import "weather";
@import url("https://use.typekit.net/xrm4wsy.css");

* {
  box-sizing: border-box;
}

.cybotrance {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 60px;
  font-size: 16px;
  color: #ff8a00;
  background-color: black;

  @include bp(mobOnly) {
    padding: 20px;
  }

  // https://developer.mozilla.org/en-US/docs/Web/CSS/@media/aspect-ratio
  //
  /* Minimum aspect ratio */
  // @media (min-aspect-ratio: 6/5) {
  //   background-color: yellow;
  // }

  // /* Maximum aspect ratio */
  // @media (max-aspect-ratio: 13/16) {
  //   background-color: green;
  // }

  @include bp(xxs) {
    padding: 2.5rem;
  }

  @include bp(xs) {
    padding: 80px;
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.whitman {
  position: absolute;
  bottom: 4rem;
  width: calc(100vw - 160px);

  p {
    margin: 0;
    @include tachyon-thin;
    font-size: 3rem;
    line-height: 1.4;
  }
}

.fade-in {
  animation: fadeIn 500ms ease-in-out;
}

.fade-out {
  animation: fadeOut 500ms ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
