@import url("https://use.typekit.net/xrm4wsy.css");
@import "./styles/breakpoints.scss";

* {
  box-sizing: border-box;
}

.cybotrance {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 60px;
  font-size: 16px;
  color: #ff8a00;
  background-color: black;

  @include bp(mobOnly) {
    padding: 20px;
  }

  // https://developer.mozilla.org/en-US/docs/Web/CSS/@media/aspect-ratio
  //
  /* Minimum aspect ratio */
  // @media (min-aspect-ratio: 6/5) {
  //   background-color: yellow;
  // }

  // /* Maximum aspect ratio */
  // @media (max-aspect-ratio: 13/16) {
  //   background-color: green;
  // }

  @include bp(xxs) {
    padding: 30px;
  }

  @include bp(xs) {
    padding: 60px;
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}
