* {
  box-sizing: border-box;
}

.cybotrance {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 60px;
  font-size: 16px;
  color: #FF8A00;
  background-color: black;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}
